<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!--style-->
    <link rel="stylesheet" href="style.css">
    <!--scripts-->
    <script src="bigDataSmall.js" defer></script>
    <script src="bigData.js"></script>
    <script src="script.js" defer></script>
    <!--luxon-->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
    <!--Vue-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="background">
        <div class="container d-flex">
            <div class="profile-and-contact bg-white">

                <!--header -->

                <div class="header bg-white d-flex justify-content-between align-items-center">
                    <div class="info-personal-profile d-flex">
                        
                        <div class="profile-img bg-green ">
                            <img :src="getPicture(allInfos.user)" alt="profilepicture">
                        </div>
                        <div class="personal-profile-name d-flex align-items-center"> {{getName(allInfos.user)}}</div>
                    </div>

                    <div class="profile-icons d-flex">
                        <i class="fa-solid fa-rotate-right"></i>
                        <i class="fa-solid fa-comment"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>

                <!-- notifiche section-->

                <div class="notifiche-section bg-blue">
                    <div class="card mb-3 bg-blue" >
                        <div class="row g-0">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                
                                <i class="fa-regular fa-bell-slash bg-white"></i>
                            </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <p class="card-text">ricevi notifiche di nuovi messaggi</p>
                              <p class="card-text"><small class="text-muted">attiva notifiche desktop</small></p>
                            </div>
                          </div>
                        </div>
                    </div>

                </div>

                <!--ricerca contatto-->

                <div class="ricerca-contatto-section d-flex">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" >
                </div>

                <!-- !contact section-->

                <div class="contenitore-section">
                    <div class="d-flex profile-card-conteiner" v-for="(element , i) in allInfos.contacts" @click="currentIndex = i">
                        <div class="profile-img ">
                            <img :src="getPicture(element)" alt="avatar">
                        </div>
                        <div class=" text-area ml-2">
                            <p class="nome-contatto">{{element.name}}</p>
                        </div>
                    </div>
                </div>

            </div>


            <div class="chat bg-white">

               <!--header--> 

                <div class="header ">
                    <div class="contact-element d-flex justify-content-between">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="profile-img ">
                                <img :src="getPicture(contacts[currentIndex])" alt="getName(contacts[currrentIndex])">
                            </div>
                            <div class="description">
                                <h5>Andrea</h5> 
                                <p>ultimo accesso alle</p>
    
                            </div>

                        </div>
                        <div class="profile-icons d-flex justify-content-between align-items-center ">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>

                </div>

                <!--chat section-->

                <div class="chat-section h-80">
                    <div class="d-flex flex-column h-80 w-100 p-2">

                        <div  v-for="element in contacts[currentIndex].messages" :class="messageOrigin(element) ">
                            <span>{{element.text}}</span>
                            <span >{{element.date}}</span>
                        </div>
                        
                    </div>
                    
                </div>

               <!--writing section-->
                
                <div class="writing-section d-flex justify-content-between align-items-center p-2">
                    <div><i class="fa-regular fa-face-smile"></i></div>
                    <input type="text" @keyup.enter="addMessage(newMessage)" v-model="newMessage" >
                    <div><i class="fa-solid fa-microphone"></i></div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>